aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
discord.py==1.2.5
google==2.0.3
idna==2.8
multidict==4.7.1
peewee==3.13.1
psycopg2-binary==2.8.4
requests==2.22.0
soupsieve==1.9.5
urllib3==1.25.7
websockets==6.0
yarl==1.4.2
